.second {
    color: #ebf2f2;
    background-color: #9db0af;
    width: 100%;
}

h2 {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
    font-size: 10px;
    float: right;
    background-color: #edf2f1;
}

th,
td {
    /* text-align: center; */
    padding: 25px;
    margin: 25px;
    border-bottom: 2px solid black;
    gap: 0px;
}

.Table {
    text-align: center;
    /* margin-right: 70px; */
}

table {
    margin-left: 300px;
}